{% extends 'base_security.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}
<div class="container-scroller">
    <div class="col-md-4 mx-auto">
        <div class="auth-form-light text-left p-5">
            <div class="brand-logo text-center">
                <img class="rounded-circle" src="{{ asset('upload/media/download.jpeg') }}">
            </div>
            <form method="post" class="pt-3">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Se connecter</h1>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="_remember_me"> Remember me
                        </label>
                    </div>
                    <a href="#" class="auth-link text-black">Forgot password?</a>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-block btn-gradient-primary btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
