{% extends 'base.html.twig' %}

{% block hero %}{% endblock %}
{% block main %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center"
         style="background-image: url({{ asset('uploads/photos/fiainanabediabe.jpeg') }});">
        <div class="container position-relative d-flex flex-column align-items-center">
            <h2>Blog</h2>
            <ol>
                <li><a href="{{ path('home_page') }}">Home</a></li>
                <li>Blog</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row g-5">

                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                    <div class="row gy-5 posts-list">
                        {% for blog in fiainanas %}
                            <div class="col-lg-6">
                                <article class="d-flex flex-column">
                                    <div class="post-img">
                                        <img src="{{ asset('uploads/photos/fiainana.jpeg') }}" alt="" class="img-fluid">
                                    </div>

                                    <h2 class="title">
                                        <a href="#">Possimus soluta ut id suscipit ea ut. In quo quia et soluta libero
                                            sit sint.</a>
                                    </h2>

                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                                        href="#">John Doe</a></li>
                                            <li class="d-flex align-items-center">
                                                <i class="bi bi-clock"></i>
                                                <a href="#">
                                                    <time datetime="2022-01-01">Jan 1, 2022</time>
                                                </a>
                                            </li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                                        href="#">12 Comments</a></li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p>
                                            {% set description = blog.description|replace({'</p><p>': ' '})|striptags %}
                                            {{ description|length > 200 ? description|slice(0, 200) ~ '...'|raw : description|raw }}
                                        </p>
                                    </div>

                                    <div class="read-more mt-auto align-self-end">
                                        <a href="{{ path('message_details', {'id': blog.id}) }}">Lire la suite <i class="bi bi-arrow-right"></i></a>
                                    </div>

                                </article>
                            </div><!-- End post list item -->
                        {% endfor %}
                    </div><!-- End blog posts list -->

                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div><!-- End blog pagination -->

                </div>

                {% include 'front/_sidebar.html.twig' %}
            </div>

        </div>
    </section><!-- End Blog Section -->
{% endblock %}
