{% extends 'base.html.twig' %}

{% block main %}
    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Articles récents</h2>
            </div>
            <div class="row gy-5">
                {% for fn in fiainana|default([]) %}
                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="post-box">
                            <div class="post-img"><img src="{{ fn.avatar|default('./uploads/photos/fiainana.jpeg') }}"
                                                       class="img-fluid" alt=""></div>
                            <div class="meta">
                                <span class="post-date">{{ fn.dateAdd|date('d-m-Y') }}</span>
                                <span class="post-author"> / Fiainana be dia be</span>
                            </div>
                            <h3 class="post-title">Teny manokana ho anao isan’andro</h3>
                            <p>{{ fn.description|raw }}</p>
                            <a href="blog-details.html" class="readmore stretched-link"><span>Lire la suite</span><i
                                        class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="post-box">
                            <div class="post-img"><img src="{{ asset('uploads/photos/fiainana.jpeg') }}"
                                                       class="img-fluid" alt=""></div>
                            <div class="meta">
                                <span class="post-date">Fri, September 05</span>
                                <span class="post-author"> / Mario Douglas</span>
                            </div>
                            <h3 class="post-title">Et repellendus molestiae qui est sed omnis</h3>
                            <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum
                                assumenda. Quisquam omnis doloribus...</p>
                            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                                        class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="post-box">
                            <div class="post-img"><img src="{{ asset('uploads/photos/fiainana.jpeg') }}"
                                                       class="img-fluid" alt=""></div>
                            <div class="meta">
                                <span class="post-date">Tue, July 27</span>
                                <span class="post-author"> / Lisa Hunter</span>
                            </div>
                            <h3 class="post-title">Quia assumenda est et veritati</h3>
                            <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis
                                repellat sed quae consectetur magnam...</p>
                            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                                        class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="post-box">
                            <div class="post-img"><img src="{{ asset('uploads/photos/fiainana.jpeg') }}"
                                                       class="img-fluid" alt=""></div>
                            <div class="meta">
                                <span class="post-date">Tue, Sep 16</span>
                                <span class="post-author"> / Mario Douglas</span>
                            </div>
                            <h3 class="post-title">Pariatur quia facilis similique deleniti</h3>
                            <p>Et consequatur eveniet nam voluptas commodi cumque ea est ex. Aut quis omnis sint ipsum
                                earum quia eligendi...</p>
                            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                                        class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3>Teny manokana hoanao isan'andro</h3>
                    <p>Mizara hafatra hoanao isan'andro , tosika fampaherezana notsongaina avy ao amin'ny baiboly.</p>
                    <a class="cta-btn" href="{{ path('blog') }}">Lire tous les articles</a>
                </div>
            </div>
        </div>
    </section><!-- End Call To Action Section -->
{% endblock %}
