{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 order-2 order-md-13 social-block mt-2">
                {% if filtres is defined %}
                    <div class="card">
                        <h4 class="card-title ml-2">Hitady</h4>
                        <div class="card-body p-2">
                            {% for filtre in filtres %}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox filtre-fiainana" name="filtre"
                                               data-url="{{ path('ajax_filter') }}" value="{{ filtre.name }}"
                                               type="radio">
                                        {{ filtre.name }}
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" name="filtre" onclick="location.reload()" type="checkbox">
                                    Izy rehetra
                                </label>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="card mt-2">
                    <h4 class="card-title ml-2">Facebook</h4>
                    <div class="card-body">
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous"
                                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=870844926413174&autoLogAppEvents=1"></script>
                        <div class="fb-page" data-href="https://www.facebook.com/fiainanabdb/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/fiainanabdb/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/fiainanabdb/">Fiainanabdb</a></blockquote></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-6 content-block">
                {% if fiainana is defined %}
                    <div class="mt-2">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-lg-5 mb-5 mb-lg-0">
                                        <h1 class="text-dark font-weight-light">Teny manokana ho anao isan’andro</h1>
                                        <p class="lead text-dark mt-4">Mizara hafatra hoanao isan'andro , tosika
                                            fampaherezana
                                            notsongaina avy ao amin'ny baiboly .</p>
                                        <a href="{{ path('inscription_members') }}" class="btn btn-gradient-primary mt-4 ">Misorata
                                            anarana</a>
                                    </div>
                                    <div class="col-lg-6 mb-lg-auto">
                                        <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
                                            <div id="carousel_example" class="carousel slide" data-ride="carousel"
                                                 tabindex="-1">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel_example" data-slide-to="0" class=""></li>
                                                    <li data-target="#carousel_example" data-slide-to="1" class=""></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active" style="width: 500px;height: 250px">
                                                        <img class="img-fluid" width="500" height="250"
                                                             src="{{ fiainana ? fiainana[0].avatar : './uploads/photos/3688833-5e0cd5eded8f6.jpeg' }}"
                                                             alt="Hafatra hoanao">
                                                    </div>
                                                    {% for avatar in fiainana %}
                                                        <div class="carousel-item" style="width: 500px;height: 250px">
                                                            <img class="img-fluid" width="500" height="250"
                                                                 src="{{ avatar.avatar }}" alt="Hafatra hoanao">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <a class="carousel-control-prev" href="#carousel_example" role="button"
                                                   data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel_example" role="button"
                                                   data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% block content %}
                    {% include 'front/_template_data.html.twig' %}
                {% endblock %}
            </div>
            <div class="col-md-3 order-md-6 contact-block mt-2">
                <div class="card">
                    <h4 class="card-title ml-2 mt-2">Araho ny pejy</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="https://www.facebook.com/fiainanabdb/" target="_blank" class="btn btn-block  btn-social-icon btn-social btn-facebook text-white">
                                    <span class="mdi mdi-facebook"></span>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('home_page') }}" class="btn btn-block btn-social-icon btn-social btn-google text-white">
                                    <span class="mdi mdi-google"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <h4 class="card-title">Manorata aminay</h4>
                        <form action="" method="post" id="fbdb-contact">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email"
                                       pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required name="email"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="message">Hafatra</label>
                                <textarea type="text" id="message" required name="message"
                                          class="form-control"></textarea>
                            </div>
                            <input type="button" class="btn d-block w-100 btn-gradient-primary ml-auto"
                                   data-url="{{ app.request.getSchemeAndHttpHost ~ path('home_message') }}"
                                   id="submit-fbdb" value="Envoyer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
