{% extends 'base.html.twig' %}

{% block main %}
    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Articles récents</h2>
            </div>
            <div class="row gy-5">
                {% for fn in fiainana|default([]) %}
                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="post-box">
                            <div class="post-img"><img src="{{ fn.avatar|default('./uploads/photos/fiainana.jpeg') }}"
                                                       class="img-fluid" alt=""></div>
                            <div class="meta">
                                <span class="post-date">{{ fn.dateAdd|date('d-m-Y') }}</span>
                                <span class="post-author"> / Fiainana be dia be</span>
                            </div>
                            <h3 class="post-title">Teny manokana ho anao isan’andro</h3>
                            <p>
                                {% set description = fn.description|replace({'</p><p>': ' '})|striptags %}
                                {{ description|length > 200 ? description|slice(0, 100) ~ '...'|raw : description|raw }}
                            </p>
                            <a href="{{ path('message_details', {'id': fn.id}) }}"
                               class="readmore stretched-link"><span>Lire la suite</span><i
                                        class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3>Teny manokana hoanao isan'andro</h3>
                    <p>Tsarovy fa tsy misy na inona na inona miseho amin’ny fiainanao ka tsy hitako anaka. Mahafaly Ahy
                        Rainao ny fanokananao fotoana manokana ho Ahy hihainoanao ny feoko, handraisanao ny hafatra
                        tiako hiainanao indray anio. Tena tiako ianao anaka.</p>
                    <a class="cta-btn" href="{{ path('blog') }}">Lire tous les articles</a>
                </div>
            </div>
        </div>
    </section><!-- End Call To Action Section -->
{% endblock %}
