{% extends 'base_security.html.twig' %}
{% block body %}
    <div class="container">
        <div class="card mt-2">
            <div class="card-header text-center">
                <h1>INSCRIPTION</h1>
                <p class="text-center">Raha mangetaheta ny handray fampaherezana manokana amin’ny anaranao ho anao isanandro ianao dia misorata anarana eto</p>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.username) }}
                {{ form_row(form.birthDate) }}
                {% do form.password.setRendered %}
                <div class="form-group text-center">
                    <a href="{{ path('home_page') }}" class="btn btn-danger">Annuler</a>
                    <input type="submit" class="btn btn-gradient-primary" value="S'enregistrer">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
