{% extends 'front/_home_page.html.twig' %}

{% block content %}
        <div class="card mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="date_holder">
                            <span class="day">{{ fiainana.publicationDate|date('d') }}</span>
                            <span class="month">{{ fiainana.publicationDate|date('M') }}</span>
                        </div>
                        <h4 class="card-title text-center">{{ fiainana.title|replace({'zanaku': 'zanako'}) }}</h4>
                    </div>
                </div>
                <div class="mt-5"></div>
                <img src="{{ fiainana.avatar }}" style="width: 100%" alt="">
                <div class="mb-2"></div>
                {{ fiainana.description|replace({'zanaku': 'zanako'})|raw }}
                <div class="d-flex mt-5 align-items-top">
                    <div class="mb-0 flex-grow">
                        <h5 class="mr-2 mb-2">Fiainana be dia be.</h5>
                        <p class="mb-0 font-weight-light">{{ fiainana.publicationDate|date('d-m-Y') }}.</p>
                    </div>
                    <div class="ml-auto">
                        <script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-share-button"
                             data-href="{{ app.request.getSchemeAndHttpHost~path('message_details',{'id':fiainana.id}) }}"
                             data-layout="button_count">
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}