{% extends 'base.html.twig' %}

{% block hero %}{% endblock %}

{% block main %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url({{ asset('uploads/photos/fiainanabediabe.jpeg') }});">
            <div class="container position-relative d-flex flex-column align-items-center">
                <h2>Blog Details</h2>
                <ol>
                    <li><a href="{{ path('home_page') }}">Home</a></li>
                    <li>Blog Details</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Blog Details Section ======= -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row g-5">

                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                        <article class="blog-details">

                            <div class="post-img">
                                <img src="{{ fn.avatar|default('./uploads/photos/fiainana.jpeg') }}" alt="" class="img-fluid">
                            </div>

                            <h2 class="title">{{ fn.title|replace({'zanaku': 'zanako'}) }}</h2>

                            <div class="meta-top">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">Fiainana be dia be</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">{{ fn.dateAdd|date('d-m-Y') }}</time></a></li>
                                </ul>
                            </div><!-- End meta top -->

                            <div class="content">
                                {{ fn.description|raw|replace({'zanaku': 'zanako'})|raw }}
                            </div><!-- End post content -->

                            <div class="meta-bottom">
                                <i class="bi bi-book"></i>
                                <ul class="tags">
                                    <li><a href="#">Fiainana</a></li>
                                    <li><a href="#">Tosika</a></li>
                                </ul>
                            </div><!-- End meta bottom -->

                        </article><!-- End blog post -->

                        <div class="post-author d-flex align-items-center">
                            <img src="{{ asset('uploads/photos/fiainanabediabe.jpeg') }}" class="rounded-circle flex-shrink-0" style="width: 50px;height: 50px" alt="">
                            <div>
                                <h4>Mamy niaina</h4>
                                <div class="social-links">
                                    <a href="https://web.facebook.com/fiainanabdb" target="_blank"><i class="bi bi-facebook text-primary"></i></a>
                                    <a href="https://youtube.com" target="_blank"><i class="bi bi-youtube text-danger"></i></a>
                                </div>
                            </div>
                        </div><!-- End post author -->
                    </div>
                    {% include 'front/_sidebar.html.twig' %}
                </div>

            </div>
        </section><!-- End Blog Details Section -->

    </main><!-- End #main -->
{% endblock %}
