{% extends 'admin/_base_admin.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h4 class="card-title">Liste publications</h4>
                <a href="{{ path('manage_fiainana') }}" class="btn btn-gradient-primary ml-auto">Nouveau</a>
            </div>
            <div class="mt-2"></div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Déscription</th>
                    <th>Date de publication</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for fiainana in fs %}
                    <tr>
                        <td>{{ fiainana.title|replace({'zanaku': 'zanako'}) }}</td>
                        <td>
                            {% set text = fiainana.description|replace({'</p><p>': ' '})|striptags %}
                            {{ text|length > 200 ? text|slice(0, 100) ~ '...'|raw : text|raw }}
                        </td>
                        <td>{{ fiainana.publicationDate|date('Y-m-d H:i') }}</td>
                        <td>
                            <a href="{{ path('manage_fiainana',{'id': fiainana.id}) }}" class="badge badge-success">Modifier</a>
                            <a href="{{ path('remove_fiainana',{'id': fiainana.id}) }}" class="badge badge-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}